<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Communal Software</title>
  <link rel="stylesheet" href="/a11yana.css" />
</head>

<body>
  <section>
      {% block content %} {% endblock %}
  </section>
</body>

</html>
